---
layout: base
categories: projects
---

{% include home-button.html %}

<section class="projects">
  <h1>Sites</h1>
  <ul>
    <li><a href="http://www.hangoutbutton.com">hangoutbutton.com</a> — A big ole’ button to create a Google Hangout.</li>
    <li><a href="http://www.deployasaur.us">deployasaur.us</a> — Automatic deployments after your complete build matrix finishes on Travis CI.</li>
    <li><a href="http://www.pugbomb.me">pugbomb.me</a> — Pug viewing for the masses. It’s like Hubot’s pug bomb, but without the chat room.</li>
    <li><a href="http://preetup.herokuapp.com">preetup.herokuapp.com</a> — Generated pre-meeting slides for your group on Meetup.com.</li>
  </ul>

  <h1>Teaching</h1>
  <ul>
    <li><a href="http://nodelabs.org">Node Labs</a> — Day-long node.js conference training.</li>
  </ul>

  <h1>Libraries</h1>
  <ul>
    <li><a href="https://github.com/adunkman/connect-assets">connect-assets</a> — Rails 3.1-style assets for node.js.</li>
    <li><a href="https://github.com/adunkman/node-trello">node-trello</a> — Node.js wrapper for Trello’s API.</li>
    <li><a href="https://github.com/adunkman/unspamify">unspamify</a> — jQuery plugin to stop email robots.</li>
  </ul>

  <h1>Tools</h1>
  <ul>
    <li><a href="https://github.com/adunkman/http-echo">http-echo</a> — Test node.js HTTP server.</li>
    <li><a href="http://markdown-preview.herokuapp.com">GitHub Markdown Preview</a> — Preview anything in GFM.</li>
  </ul>
</section>

{% include navigation.html %}
