<footer class="page-footer">
  <div class="footer-container">
    <p>This site <span class="hide-on-mobile">and its infrastructure are</span><span class="show-on-mobile">is</span> open source.</p>
    <div class="secondary-navigation">
      <a href="https://github.com/adunkman/dunkman.me" class="button button-link">View on GitHub</a>
      <a href="https://github.com/adunkman/dunkman.me/edit/2020-updates/app/content/{{ .File.Path }}" class="button button-primary">Edit this page</a>
    </div>
  </div>
</footer>
