{{ define "body" }}
  {{ partial "header/banner.html" . }}
  <main class="page-section">
    <div class="grid-container">
      <article class="article">
        <header>
          <h1 class="title">{{ .Title }}</h1>
          <p class="byline"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 1, 2006" }}</time> {{ .ReadingTime }} minute read</p>
          <p class="lede">{{ .Params.summary }}</p>
        </header>
        <div class="content">
          {{ .Content }}
        </div>
      </article>
    </div>
  </main>
  {{ partial "footer/oss.html" . }}
{{ end }}
