services:
  hugo:
    build: ./app
    volumes:
      - ./app:/app
    ports:
      - "1313:1313"
    depends_on:
      - metascraper
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      HUGO_ENV: "${HUGO_ENV}"
      HUGO_CACHEDIR: "/app/resources/_cache"

  metascraper:
    build: ./metascraper
    volumes:
      - ./metascraper:/metascraper
      - /metascraper/node_modules
    command: ["start"]
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8080
      interval: 5s
      timeout: 3s
    ports:
      - "8080:8080"
    environment:
      PORT: 8080

  test:
    profiles:
      - utilities
    build: ./test
    volumes:
      - ./test:/test
      - /test/node_modules
    depends_on:
      - hugo
    environment:
      APP_HOST: http://hugo:1313

  terraform:
    profiles:
      - utilities
    build: ./terraform
    volumes:
      - ./terraform:/terraform
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      TF_VAR_friends_and_family_passcode: "${FRIENDS_AND_FAMILY_PASSCODE}"

  tfsec:
    profiles:
      - utilities
    image: aquasec/tfsec:v1.28.14
    volumes:
      - ./terraform:/terraform

  sops:
    profiles:
      - utilities
    image: ghcr.io/getsops/sops:v3.11.0-alpine
    volumes:
      - ./app:/app
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      SOPS_KMS_ARN: "${SOPS_KMS_ARN}"

  lychee:
    profiles:
      - utilities
    image: lycheeverse/lychee:sha-7a0672c-alpine
    user: root
    volumes:
      - ./app:/app
    environment:
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
