html {
  box-sizing: border-box;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background-color: rgba(var(--theme-background-color), 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(var(--theme-background-color), 1);
  color: rgba(var(--theme-foreground-color), 1);
  margin: 0;
  min-height: 100vh;
}

a {
  color: rgba(var(--theme-link-color), 1);;

  &:visited { color: rgba(var(--theme-link-visited-color), 1);; }
  &:hover { color: rgba(var(--theme-link-hover-color), 1); }
  &:active { color: rgba(var(--theme-link-active-color), 1); }

  code { text-decoration: underline; }
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.85em;
  padding: 0 0.4em;
  display: inline-block;
  background-color: rgba(var(--theme-foreground-color), 0.10);
  border-radius: 0.2rem;
}

.chroma {
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.2rem;

  code { background-color: unset; }
}

blockquote {
  margin: 1rem 0;
  padding: 0.3rem 1rem;
  border-left: 5px rgba(var(--theme-foreground-color), 0.15) solid;
  color: rgba(var(--theme-foreground-color), 0.8);

  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }

  a {
    color: inherit;

    &:hover { color: inherit; }
    &:active { color: inherit; }
    &:visited { color: inherit; }
  }
}

.link-preview {
  font-size: 1rem;

  .metadata {
    margin-bottom: .1rem;
  }

  .url {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .favicon {
    height: 16px;
    width: 16px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .2rem;
    margin-right: .2rem;
  }

  p {
    margin: 0.1rem 0 0;
  }
}

.hide-on-mobile {
  display: none;

  @include min-width-tablet {
    display: unset;
  }
}

.show-on-mobile {
  display: unset;

  @include min-width-tablet {
    display: none;
  }
}
