html {
  box-sizing: border-box;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background-color: rgba(var(--theme-background-color), 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(var(--theme-background-color), 1);
  color: rgba(var(--theme-foreground-color), 1);
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--theme-link-color);

  &:hover { color: var(--theme-link-hover-color); }
  &:active { color: var(--theme-link-active-color); }
  &:visited { color: var(--theme-link-visited-color); }

  code { text-decoration: underline; }
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.85em;
  padding: 0 0.4em;
  display: inline-block;
  background-color: rgba(var(--theme-foreground-color), 0.10);
  border-radius: 0.2rem;
}

.chroma {
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.2rem;

  code { background-color: unset; }
}

blockquote {
  margin: 0;
  padding: 0.5rem 1rem;
  border-left: 5px rgba(var(--theme-foreground-color), 0.15) solid;
  color: rgba(var(--theme-foreground-color), 0.8);

  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }

  a {
    color: inherit;

    &:hover { color: inherit; }
    &:active { color: inherit; }
    &:visited { color: inherit; }
  }
}

.hide-on-mobile {
  display: none;

  @include min-width-tablet {
    display: unset;
  }
}

.show-on-mobile {
  display: unset;

  @include min-width-tablet {
    display: none;
  }
}
