.page-footer {
  border-top: 3px rgba(var(--theme-foreground-color), 0.15) solid;
  width: 100%;
  max-width: unquote("min(#{$page-max-width}, calc(100vw - 2rem))");
  margin: 3rem auto 2rem;
  text-align: center;

  .footer-container {
    max-width: calc(#{$page-max-width} - 2rem);
    margin: 0 auto;

    > * {
      margin-bottom: 0;
    }
  }

  .secondary-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    > * {
      margin-bottom: 0;
    }
  }

  @include min-width-tablet {
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
