.page-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.grid-container {
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
