.hero {
  background-color: rgba(var(--theme-accent-color), 1);
  color: #fff;

  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 7vw, 2.5rem);
    font-weight: lighter;
    padding: clamp(3rem, 8vw, 5rem) 0 clamp(4rem, 8vw, 6rem);

    a { color: inherit; }
  }
}
