---
layout: base
categories: about
---

{% include home-button.html %}

<section class="about">
  <h1>About Andrew</h1>

  <p>I’m a sofware developer specializing in web and usability, currently working for <a href="http://getharvest.com">Harvest</a>. I tend to spend much of my time in JavaScript and CoffeeScript, but have worked with a variety of languages, libraries, and frameworks in the past in and around the web.</p>

  <p>Currently a citizen of Washington, D.C. — you can generally find me anywhere reachable by bike or Metro. You can find me around the ‘tubes on <a href="http://twitter.com/adunkman">Twitter</a> and <a href="https://github.com/adunkman">GitHub</a>, of course.</p>

  <p>Should you be interested in reaching me privately, my <a href="/key.asc">public key is available</a> and <a href="https://keybase.io/adunkman">on Keybase</a>.

</section>

{% include navigation.html %}
