---
layout: base
categories: about
---

{% include home-button.html %}

<section class="about">
  <h1>About Andrew (that’s me!)</h1>

  <blockquote>“Every day, think as you wake up, today I am fortunate to be alive, I have a precious human life, I am not going to waste it. I am going to use all my energies to develop myself, to expand my heart out to others; to achieve enlightenment for the benefit of all beings. I am going to have kind thoughts towards others, I am not going to get angry or think badly about others. I am going to benefit others as much as I can.” ― Dalai Lama XIV</blockquote>

  <p>I’m a sofware developer specializing in web and usability, currently working for <a href="http://getharvest.com">Harvest</a>. I tend to spend much of my time in JavaScript and CoffeeScript, but have worked with a variety of languages, libraries, and frameworks in the past in and around the web.</p>

  <p>Currently a citizen of Washington, D.C. — you can generally find me anywhere reachable by bike or Metro. You can find me around the ‘tubes on <a href="http://twitter.com/adunkman">Twitter</a> and <a href="https://github.com/adunkman">GitHub</a>, of course.</p>
</section>

{% include navigation.html %}
