---
layout: main
title: Blog
summary: Blog posts published by Andrew Dunkman.
body_class: blog
redirect_from:
  - articles/
  - conferences/
  - code/
---

{% for post in site.posts %}{% if post.category == 'blog' %}
<article class="card">
  <header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>
      <span title="{{ post.content | number_of_words }} words">{{ post.content | read_time }} minute read</span>, published <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>.
    </p>
  </header>

  <p>{{ post.summary }}</p>
</article>
{% endif %}{% endfor %}
