<header class="page-header">
  <div class="banner">
    <h1>
      <a href="{{ relref . "/" }}" class="{{ if eq .URL "/" }}item-current{{end}}">
        {{ .Site.Title }}
      </a>
    </h1>
    <div class="primary-menu-button-wrapper">
      <button class="primary-menu-button">Menu</button>
      <div class="primary-menu-overlay"></div>
    </div>
    <nav role="navigation" class="primary-menu">
      <div class="primary-menu-close-wrapper">
        <button class="primary-menu-close-button">Close</button>
      </div>

      <div class="primary-menu-items">
        <a href="{{ relref . "/" }}" class="primary-menu-item {{ if eq .URL "/" }}item-current{{end}}">Home</a>
        <a href="{{ relref . "blog" }}" class="primary-menu-item {{ if eq .Section "blog" }}item-current{{end}}">Blog</a>
        <a href="" class="primary-menu-item">Speaking</a>
        <a href="" class="primary-menu-item">Contact</a>
      </div>
    </nav>
  </div>
</header>
