{{- define "page-class" -}} page-home {{- end -}}

{{- define "body" -}}
  <div class="hero">
    {{ partial "header/banner.html" . }}
    <div class="hero-wrapper">
      <p>{{ .Summary }}</p>
    </div>
  </div>
  <main class="page-section">
    <article class="article grid-container">
      {{ .Content | markdownify }}

      <div class="signature has-viewport-event">
        {{ readFile "assets/images/andrew-dunkman.svg" | safeHTML }}
      </div>
    </article>
  </main>
  {{ partial "footer/oss.html" . }}
{{- end -}}
