{{- define "page-class" -}} page-home {{- end -}}

{{- define "body" -}}
  {{ partial "header/banner.html" . }}
  <main>
    <div class="hero">
      {{ with .Params.hero }}
        <p><a href="{{ relref $ .href }}">{{- .text | markdownify -}}</a></p>
      {{ end }}
    </div>

    <section class="page-section">
      <article class="article grid-container">
        <p class="lede">{{ .Params.introduction | markdownify }}</p>
        {{ .Content | markdownify }}
      </article>
    </section>
  </main>
  {{ partial "footer/oss.html" . }}
{{- end -}}
