.page-home {
  .andrew-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    max-width: $page-max-width;
    margin: 0 auto;
  }

  @include only-mobile {
    .andrew-image {
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    }

    .page-header .banner {
      h1 {
        color: rgba(72, 72, 72, 1);
        text-shadow:
          0 0 15px rgba(#fff, 0.7),
          -1px -1px 0 rgba(#fff, 0.3),
          -1px 1px 0 rgba(#fff, 0.3),
          1px -1px 0 rgba(#fff, 0.3),
          1px 1px 0 rgba(#fff, 0.3);
      }

      .primary-menu-button {
        color: rgba(#fff, 0.9);
        text-shadow:
          0 0 15px rgba(#000, 0.7),
          -1px -1px 0 rgba(#000, 0.3),
          -1px 1px 0 rgba(#000, 0.3),
          1px -1px 0 rgba(#000, 0.3),
          1px 1px 0 rgba(#000, 0.3);
      }
    }

    main {
      margin-top: 45vw;
      background: linear-gradient(rgba(0,0,0,0) 0px,rgba(0,0,0,0.4) 100px, rgba(0,0,0,0.7) 70%);
      color: rgba(#fff, 0.9);
      padding: 100px 2rem 2rem 2rem;
    }
  }

  @include min-width-tablet {
    .andrew-image {
      background-position: right 2rem top 4rem;
      background-size: 50%;
      padding-bottom: clamp(1rem, 10vw, 100px);
    }

    main {
      width: calc(50% + 3rem);
      margin: clamp(100px, 20vw, 200px) auto 2rem 0;
    }

    .pledge {
      background-color: rgba(var(--theme-background-color), 1);
      padding: 1rem;
      margin-left: -1rem;
    }

    .two-column {
      display: flex;
      flex-wrap: wrap;

      > * {
        width: calc(50% - 1rem);

        &:nth-child(2) {
          margin-left: 2rem;
        }
      }
    }
  }

  .speaking-embed {
    margin-top: 1rem;
  }

  .pledge {
    font-size: 1.4em;
    font-weight: lighter;
    max-width: 50ch;
    margin-top: 0;

    strong {
      font-weight: normal;
    }
  }

  .signature {
    font-size: 1em;

    svg {
      width: 17em;
      height: auto;
    }

    .pen {
      path {
        fill: none;
        stroke: currentColor;
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        stroke-width: 6;
        stroke-linecap: round;
      }
    }

    &.is-in-viewport .pen {
      path {
        animation: draw 0.6s linear forwards;
      }

      g:nth-of-type(1) path { animation-delay: 0s; }                  // A
      g:nth-of-type(2) path { animation-delay: 0.2s; }                // nd
      g:nth-of-type(3) path { animation-delay: 0.5s; }                // rew
      g:nth-of-type(4) path:nth-of-type(1) { animation-delay: 0.8s; } // D
      g:nth-of-type(4) path:nth-of-type(2) { animation-delay: 0.85s; }// D
      g:nth-of-type(5) path { animation-delay: 1.05s; }               // un
      g:nth-of-type(6) path { animation-delay: 1.2s; }                // k
      g:nth-of-type(7) path { animation-delay: 1.3s; }                // man
    }
  }

  .card {
    margin: 2rem 0;
    max-width: none;
    &:first-of-type { margin-top: 0; }
    &:last-of-type { margin-bottom: 0; }
  }

  .read-more {
    margin-top: 2rem;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
