.events-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event {
  time {
    margin: 0 0 0.5rem 0;
    color: rgba(#000, 0.5);
    text-transform: uppercase;
    font-size: 0.75em;
  }

  .name {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .location {
    font-weight: normal;
  }

  & + & {
    margin-top: 2rem;
  }
}
