.page-today-i-learned,
.page-home {
  .today-i-learned-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .learning {
    max-width: 60ch;

    time {
      color: rgba(var(--theme-foreground-color), 0.7);
      text-transform: uppercase;
      font-size: 0.75em;
      display: block;
      margin-bottom: 0.25rem;
    }

    blockquote {
      margin-top: 0.5rem;
    }
  }

  .learning + .learning {
    margin-top: 2rem;
  }
}
