<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Andrew Dunkman" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    {% if page.norobots %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@adunkman">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Andrew Dunkman{% endif %}">
    {% if page.is_article %}<meta name="twitter:description" content="{{ page.content | to_twitter_description }}">{% endif %}
    <meta name="twitter:creator" content="@adunkman">
    <meta name="twitter:image:src" content="https://www.gravatar.com/avatar/2e055eb589fb86174fd268748b0fcd30.jpg?s=250">

    <title>
      {% if page.plain %}
        {{ page.title }}
      {% else %}
        {% if page.title %}{{ page.title | append: " | " }}{% endif %}Andrew Dunkman
      {% endif %}
    </title>

    {% stylesheet main.css %}
    <link rel="shortcut icon" href="{% asset_path favicon.png %}" />
  </head>
  <body class="{{ page.categories }}">
    {{ content }}
    {% javascript main.js %}
  </body>
</html>
