---
layout: main
title: Blog
body_class: blog
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <span title="{{ content | number_of_words }} words">{{ content | read_time }} minute read</span>, published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>.
    </p>
  </header>

  {{ content | indent: 2 }}

  <footer>
    <a href="https://twitter.com/intent/tweet?text={{ "@adunkman (https://www.dunkman.me" | append: page.url | append: ")" | cgi_escape }}&amp;related={{ "adunkman:Author" | cgi_escape }}">Reply on Twitter</a>
  </footer>
</article>
