<!DOCTYPE html>
<html lang="en">{% strip_newlines %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self'; img-src 'self' https://www.google-analytics.com; script-src 'self' https://www.google-analytics.com{% if page.content_security_policy.script_src %} {{ page.content_security_policy.script_src | join: ' ' }}{% endif %};{% if page.content_security_policy.child_src %} child-src {{ page.content_security_policy.child_src | join: ' ' }};{% endif %}">
    <meta name="referrer" content="origin">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.dunkman.me{{ page.url }}">
    <meta name="twitter:url" content="https://www.dunkman.me{{ page.url }}">
    <title>{% if page.title %}{{ page.title | append: " • " }}{% endif %}{% if layout.title %}{{ layout.title | append: " • " }}{% endif %}Andrew Dunkman</title>
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    {% if page.summary or layout.summary %}
    <meta name="description" content="{{ page.summary | append: ' ' | append: layout.summary | strip }}">
    <meta property="og:description" content="{{ page.summary | append: ' ' | append: layout.summary | strip }}">
    {% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@adunkman">
    <meta name="twitter:creator" content="@adunkman">
    {% if page.norobots or layout.norobots %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    {% stylesheet main.css %}
    <link rel="shortcut icon" href="{% asset_path favicon.png %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>{% endstrip_newlines %}
  <body{% if page.body_class or layout.body_class %} class="{{ page.body_class | append: ' ' | append: layout.body_class | strip }}"{% endif %}>
    <header class="page-header">
      <nav>
        <a href="/">
          <img src="{% asset_path adunkman.jpg %}" alt="Image of Andrew Dunkman" class="avatar">
        </a>
        <a href="/blog/">Blog</a>
        <a href="/talks/">Speaking</a>
      </nav>
    </header>
    {{ content | indent: 4 }}
    <footer class="page-footer">
      <a href="/">
        <img src="{% asset_path adunkman.jpg %}" alt="Image of Andrew Dunkman" class="avatar">
      </a>
      <a href="/blog/">Blog</a>
      <a href="/talks/">Speaking</a>
      <a href="https://twitter.com/adunkman">Twitter</a>
      <a href="https://github.com/adunkman">GitHub</a>
      <a href="https://keybase.io/adunkman">Keybase</a>
    </footer>
    {% javascript main.js %}
  </body>
</html>
