---
layout: base
---

{% include home-button.html %}

<article class="article">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
  <footer>
    <ul class="meta">
      <li class="respond">
        <a href="https://twitter.com/intent/tweet?text={{ "@adunkman (http://www.dunkman.me" | append: page.url | append: ")" | cgi_escape }}&amp;related={{ "adunkman:Author" | cgi_escape }}">Reply on Twitter</a>
      </li>
      <li class="respond">
        <a href="https://github.com/adunkman/ask">Ask me on GitHub</a>
      </li>
    </ul>
  </footer>
</article>


<footer>
  {% include navigation.html %}
</footer>
