name: Link Checker

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * MON"

jobs:
  linkChecker:
    name: "Check Links"
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: app/resources
          key: app-v1-${{ hashFiles('app/Dockerfile') }}

      - name: Build site
        run: make build

      - name: Run lychee to check for broken links
        id: lychee
        run: make check-links
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create issues for broken links
        if: hashFiles('app/resources/link-report.md') != ''
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Broken links found by automated link checker
          content-filepath: app/resources/link-report.md
